{% extends "base/base.html" %}
{% block title %} Insert Customer {% endblock %}
{% block content %}

<h3>Insert Customer</h3>
<div x-data="handler()" x-cloak>
  <form class="row g-3" id="customerForm" @submit.prevent="submit">
      <template x-if="errors">
          <div class="alert alert-danger">
          <template x-for="(error, index) in errors">
              <p>
              <strong><span x-text="index"></strong></span>: <span x-text="error"></span>
              </p>
          </template>
          <button @click="hideMsg" class="alert alert-secondary">X</button>
          </div>
      </template>
      <template x-if="messages">
          <div class="alert alert-success">
          <template x-for="(message, index) in messages">
              <p>
              <strong><span x-text="index"></strong></span>: <span x-text="message"></span>
              </p>
          </template>
          <button @click="hideMsg" class="alert alert-secondary">X</button>
          </div>
      </template>
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" x-model="name" class="form-control" id="name">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" x-model="email" class="form-control" id="email">
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="text`" x-model="phone" class="form-control" id="phone">
      </div>
      <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input type="textarea" x-model="address" class="form-control" id="address">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" :disabled="formLoading" x-text="submitText"></button>
      </div>
    </form>
  </div>

<script>
  function handler() {
  return {
      messages: '',
      errors: '',
      name: '',
      email: '',
      phone: '',
      address: '',
      formLoading: false,
      submitText: 'Insert Customer',

      submit(event) {
          event.preventDefault();
          this.formLoading = true;
          this.submitText = 'Submitting...';
          const endpointUrl = "customer_post"
          fetch(endpointUrl, {
              method: "post",
              body: JSON.stringify({
                  entries: this.entries,
                  name: this.name,
                  email: this.email,
                  phone: this.phone,
                  address: this.address,
              }),
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}',
              },
          })
          .then(response => {
              return response.json();
          })
          .then(data => {
              this.errors = data.errors
              this.messages = data.messages
          })
          .finally(()=>{
              this.formLoading = false;
              this.submitText = 'Insert Transaction';
          });
      },
      hideMsg(){
          this.errors = ''
          this.messages = ''
      }
    }
  }
</script>
<style>
  [x-cloak] {display: none !important;  }
</style>
{% endblock %}