{% extends "base/base.html" %}
{% block title %} Alpine fetch {% endblock %}
{% block content %}

          <div>
            <form x-cloak @submit.prevent="submit" x-data="{ status: 'normal', errors: {} }">
             <div x-show="status === 'normal'">
              <input name="email" type="email" />
              <input name="codename" type="text"/>
              <input name="dress_color" type="color"/>  
              <button>
               Submit
              </button>
             </div>
           
             <div x-show="status === 'success'">
              <p >
               Successfully submitted form ✅
              </p>
             </div>
           
             <div x-show="status === 'error'">
              <p>
               Error submitting your form ❌
              </p>
             </div>
            </form>
          </div>
           
             <script>
              function submit(event) {
                       event.preventDefault();
                       const formData = new FormData(event.target);
           
                       // Update the `endpointUrl` to your specific url below.
                       const endpointUrl = "/sample-post/"
                       fetch(endpointUrl, {
                           method: "post",
                           body: formData,
                           headers: {
                               'X-CSRFToken': '{{ csrf_token }}',
                           },
                       })
                       .then(response => {
                           this.status = response.ok ? 'success' : 'error';
                           return response.json();
                       })
                       .then(data => {
                           this.errors = data.errors || {};
                       });
                   }
             </script>
           
             <style>
            [x-cloak] {display: none !important;  }
           </style>
{% endblock %}