<!-- addinvoice.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Add Setting</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <h1>Add Invoice</h1>
    
    <form method="POST" action="{% url 'base:add_setting' %}">
        {% csrf_token %}
        
        <!-- Invoice details -->
        <label for="invoice_number">Invoice Number:</label>
        <input type="text" name="invoice_number" id="invoice_number">
        
        <label for="date">Date:</label>
        <input type="date" name="date" id="date">
        
        <!-- Invoice items -->
        <h2>Invoice Items</h2>
        <table id="invoice_items">
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr>
                <td><input type="text" name="item_name[]" class="item_name"></td>
                <td><input type="number" name="quantity[]" class="quantity"></td>
                <td><input type="number" name="price[]" class="price"></td>
                <td><button type="button" class="remove_row">Remove</button></td>
            </tr>
        </table>
        
        <button type="button" id="add_row">Add Row</button>
        <br><br>
        
        <button type="submit">Save Invoice</button>
    </form>
    
    <script>
        // Add row when "Add Row" button is clicked
        $("#add_row").click(function() {
            var row = `
                <tr>
                    <td><input type="text" name="item_name[]" class="item_name"></td>
                    <td><input type="number" name="quantity[]" class="quantity"></td>
                    <td><input type="number" name="price[]" class="price"></td>
                    <td><button type="button" class="remove_row">Remove</button></td>
                </tr>
            `;
            $("#invoice_items").append(row);
        });
        
        // Remove row when "Remove" button is clicked
        $(document).on("click", ".remove_row", function() {
            $(this).closest("tr").remove();
        });
    </script>
</body>
</html>