{% extends "base/base.html" %}
{% block title %} Alpine fetch {% endblock %}
{% block content %}

<h1>Edit Setting</h1>

<form action="/setting_edit_post" method="post">
{% csrf_token %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<input name="id" value="{{setting.id}}" hidden>
<br><br>
Name:<br>
<input name="name" value="{{setting.name}}">
<br><br>
Value:<br>
<input name="value" value="{{setting.value}}">
<br><br>
<input type="submit" value="Submit">
</form>


{% endblock %}