{% extends "base/base.html" %}
{% block title %} Settings {% endblock %}
{% block mainhead %} Base {% endblock %}
{% block subhead %} Settings {% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">
            <strong>{{ message|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div>
  <form action="/settings_save" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label for="cab1" class="col-sm-2 col-form-label">Cash at Bank 1</label>
      <div class="col-sm-4">
        <select id="cab1" name="cab1">
          {% for account in accounts %} 
            <option value="{{account.id}}" {% if account.id|slugify == settings.0.value %} selected {% endif %}>{{account.name}}</option>
          {% endfor %} 
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="cs" class="col-sm-2 col-form-label">Cash Sales</label>
      <div class="col-sm-4">
        <select id="cs" name="cs">
          {% for account in accounts %} 
            <option value="{{account.id}}" {% if account.id|slugify == settings.1.value %} selected {% endif %}>{{account.name}}</option>
          {% endfor %} 
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="suspense" class="col-sm-2 col-form-label">Suspense A/c</label>
      <div class="col-sm-4">
        <select id="suspense" name="suspense">
          {% for account in accounts %} 
            <option value="{{account.id}}" {% if account.id|slugify == settings.4.value %} selected {% endif %}>{{account.name}}</option>
          {% endfor %} 
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="customers" class="col-sm-2 col-form-label">Customers</label>
      <div class="col-sm-4">
        <select id="customers" name="customers">
          {% for category in categories %} 
            <option value="{{category.id}}" {% if category.id|slugify == settings.2.value %} selected {% endif %}>{{category.name}}</option>
          {% endfor %} 
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="year" class="col-sm-2 col-form-label">Year</label>
      <div class="col-sm-4">
        <select id="year" name="year">
          {% for year in years %} 
            <option value="{{year.id}}" {% if year.id|slugify == settings.3.value %} selected {% endif %}>{{year.year}}</option>
          {% endfor %} 
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>

<script>
  new SlimSelect({
    select: '#cab1'
  })
  new SlimSelect({
    select: '#cs'
  })
  new SlimSelect({
    select: '#customers'
  })
  new SlimSelect({
    select: '#year'
  })
  new SlimSelect({
    select: '#suspense'
  })
</script>
{% endblock %}