{% extends "base/base.html" %}
{% block title %} Add Year {% endblock %}
{% block mainhead %} Base {% endblock %}
{% block subhead %} Add Year {% endblock %}
{% block content %}

<form action="/year_post" method="post" class="row gx-3 gy-2 align-items-end" >
{% csrf_token %}

{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    <div class="col-md-2">
        <label for="year" class="form-label">Year</label>
        <input type="text" class="form-control form-control-sm" id="year" name="year">
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-sm btn-primary" value="Add">
    </div>
</form>

{% endblock %}